@import "~normalize.css/normalize.css";

body {
  margin: 0;
  height: 100%;
  width: 100%;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

Canvas {
  z-index: 5;
  // width: 100vw !important;
  // height: 100vh !important;
  // display: block;
  // // background-image: url(https://i.pinimg.com/originals/29/fa/7d/29fa7d40373ee240a6bc9f733d895ab3.png);
  // background-image: url(https://ak.picdn.net/shutterstock/videos/1023859393/thumb/1.jpg);

  // background-size: cover;
  // background-repeat: no-repeat;
  // background-position-y: -40%;
}

.background {
  z-index: -5;
  top: -13%;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  position: absolute;
  background-image: url(https://ak.picdn.net/shutterstock/videos/1023859393/thumb/1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h1 {
  font-family: "Press Start 2P", cursive;
}

iframe {
  z-index: -5;
  top: -13%;
  left: 0;
}
