@import "~normalize.css/normalize.css";

body {
  margin: 0;
  height: 100%;
  width: 100%;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

Canvas {
  width: 100vw;
  height: 100vh;
  display: block;
  background-image: url(https://i.pinimg.com/originals/29/fa/7d/29fa7d40373ee240a6bc9f733d895ab3.png);
}

h1 {
  font-family: "Press Start 2P", cursive;
}
