@import "~normalize.css/normalize.css";

body {
  margin: 0;
  height: 100%;
  width: 100%;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

Canvas {
  width: 100vw;
  height: 100vh;
  display: block;
  background-color: black;
}
